version: 10.0.3-devel-{build}

platform:
    - x64
    - x86

environment:
    matrix:
    - BUILD_TYPE: cmake
      VS_VERSION: Visual Studio 11 2012
    
    - BUILD_TYPE: cmake
      VS_VERSION: Visual Studio 12 2013
      
    - BUILD_TYPE: cmake
      VS_VERSION: Visual Studio 14 2015

shallow_clone: true

init:
    - if "%platform%" == "x64" SET VS_FULL=%VS_VERSION% Win64
    - if "%platform%" == "x86" SET VS_FULL=%VS_VERSION%
    - mkdir build

build_script:
    - cd build
    - cmake -G "%VS_FULL%" -DENABLE_EXPORT=ON -DUSE_ASYNC_COMMS=ON -DCMAKE_BUILD_TYPE=$BUILD_TYPE ../
    - cmake --build . --config Release

on_success:
    - cmake --build . --config Release --target install
